.header-container {
    position: relative;  
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

header {
    background-color: #333;
    color: azure;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%; 
}

header img {
    border-radius: 85%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header h1 {
    flex: 1;  
}

.auth-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: relative; 
    right: 0;  
    transition: background-color 0.3s, transform 0.3s;
}

.auth-button:hover {
    background-color: #333;
    transform: scale(1.05);  
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    width: 100%;  
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.componente {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 20px;  
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
