<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="header-container">
    <header>
      <img type="image/webp" src="./assets/logo.webp" alt="Logo UPS">
      <h1>Parqueadero</h1>
      <button class="auth-button" *ngIf="!usuarioAutenticado" (click)="iniciarSesion()">Iniciar sesión</button>
      <button class="auth-button" *ngIf="usuarioAutenticado" (click)="cerrarSesion()">Cerrar sesión</button>
    </header>
    
    <nav>
      <a [routerLink]="['/home']">Inicio</a>
      <a [routerLink]="['/space-management']" *ngIf="usuarioAutenticado && rolUsuario === 'admin'">Gestión de Espacios</a>
      <a [routerLink]="['/tariff-management']" *ngIf="usuarioAutenticado && rolUsuario === 'admin'">Gestión de Tarifa</a>
      <a [routerLink]="['/contract-management']" *ngIf="usuarioAutenticado && rolUsuario === 'admin'">Gestión de Contratos</a>
      <a [routerLink]="['/schedule-management']" *ngIf="usuarioAutenticado && rolUsuario === 'admin'">Gestión de Horarios</a>
      <a [routerLink]="['/user-management']" *ngIf="usuarioAutenticado && rolUsuario === 'admin'">Gestión de Usuarios</a>
       <a [routerLink]="['/user-dashboard']" *ngIf="usuarioAutenticado && rolUsuario=== 'user'">Servicios</a>
         <a [routerLink]="['/user']" *ngIf="usuarioAutenticado && rolUsuario=== 'user'">Perfil</a>

    </nav>
  </div>

  <div class="componente">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>© 2024 UPS</p>
  </footer>
</body>
</html>
