<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="header-container">
    <header>
      <img type="image/webp" src="./assets/logo.webp" alt="Logo UPS">
      <h1>Parqueaderos UPS</h1>
      <button class="auth-button" *ngIf="!usuarioAutenticado" (click)="iniciarSesion()">Iniciar sesión</button>
      <button class="auth-button" *ngIf="usuarioAutenticado" (click)="cerrarSesion()">Cerrar sesión</button>
    </header>
    
    <nav>
      <a [routerLink]="['/home']">Inicio</a>
      <a [routerLink]="['/signup']" *ngIf="!usuarioAutenticado">Registrarse</a>
      <a [routerLink]="['/user']" *ngIf="usuarioAutenticado && rolUsuario === 'user'">Página de Usuario</a>
      <a [routerLink]="['/admin/user-management']" *ngIf="usuarioAutenticado && rolUsuario === 'admin'">Gestión de Usuarios</a>
    </nav>
  </div>

  <div class="componente">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>© 2024 UPS</p>
  </footer>
</body>
</html>
