<div class="home-container">
    <header class="hero-section">
        <img src="./assets/logo.webp" alt="Logo del Parqueadero" class="logo" />
        <h1>Bienvenido a Parqueadero</h1>
        <p>
        Gestiona fácilmente tus reservaciones, revisa la disponibilidad en tiempo real y disfruta de un parqueadero organizado y eficiente.
        </p>
        <button class="cta-btn" (click)="navigateToLogin()">Comienza Ahora</button>
    </header>

    <section class="features-section">
        <h2>Funcionalidades para Ti</h2>
        <div class="feature">
        <h3>Disponibilidad en Tiempo Real</h3>
        <p>Consulta en cualquier momento Tus contratos de arrendamiento en el en el parqueadero.</p>
        <p>Selecciona y reserva tu espacio de estacionamiento antes de llegar.</p>

        </div>
        <div class="feature">
        <h3>Perfil Personalizado</h3>
        <p>Accede a tu historial de uso y administra tu información desde tu perfil.</p>
        <p>También estamos aquí para ayudarte con cualquier problema o duda que tengas.</p>
        </div>
    </section>
</div>
